
.section{
    display: flex;
    margin-bottom: 100px;
}
.mission{
    width: 100%;
    margin-left: 100px;
    margin-top: 100px;
   
}
p{
    font-family: 'Poppins', sans-serif;
}
.font-size{
    font-size: 30px;
  border-left: 5px rgb(140, 20, 220) solid;
  margin-left: 10px;
  padding-left: 10px;
  font-family: 'Yeseva One', cursive;
  
}
#color{
    color: rgb(105, 255, 118);
}
.pic img{
width: 60%;
margin-left: 20%;
}
.button{
    text-decoration: none;
    background-color:rgb(105, 255, 118) ;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.button:hover{
    background-color: tomato;
}
p{
   text-align: justify;
}

.section2{
 display: flex;
  margin-top: 120px;
}
.text-size{
    font-size: 30px;
    text-align: center;
    margin-bottom: -100px;
    
}
#pictures{
    width: 60%;
}
.Mission{
    border: 1px solid rgba(128, 128, 128, 0.178);
    width: 30%;
    margin-left: 140px;
    margin-top: 10px;
   padding: 30px 40px;
    height:300px;
    background-color: rgba(134, 81, 108, 0.089);
    border-radius: 20px;
}
.Mission:hover{
    background-color:rgba(134, 81, 108, 0.404) ;
}
.vission{
    width: 30%;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    
    border: 1px solid rgba(128, 128, 128, 0.226);
  height:300px;
  padding: 30px 40px;
  background-color: rgba(145, 116, 79, 0.212);
  border-radius: 20px;
}
.vission:hover{
    background-color: rgba(145, 116, 79, 0.404);
}
.goals{
    width: 30%;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 140px;
    border: 1px solid rgba(128, 128, 128, 0.198);
    padding: 30px 40px;
    height:300px;
    background-color: rgba(110, 143, 77, 0.233);
    border-radius: 20px;
}
.goals:hover{
    background-color:rgba(110, 143, 77, 0.39) ;
}
.section3{
    display: flex;
    margin-top: 150px;
    background-image: url(shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 25%;
}
.coding img{
  width: 100%;
 
}
.coding{
    margin-left: 140px;
}

.helpfull{
    margin-right: 10%;
    margin-left: 40px;
    
}
.helpfull h1{
    font-size: 40px;
}
.button2{
    text-decoration: none;
    background-color:rgb(105, 255, 118) ;
    padding: 15px 40px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.button2:hover{
    background-color: tomato;
}
.section4{
    display: flex;
    margin-top: 150px;
    background-image: url(shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20%;
}
.global{
    
   margin-left: 90px;
   margin-right: 300px;
   margin-top: 80px;
   margin-bottom: 100px;

}
.global h1{
    font-size: 40px;
}
.project img{
    width: 120%;
 margin-left: -200px;

}
.button3{
    text-decoration: none;
    background-color:rgb(105, 255, 118) ;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.button3:hover{
    background-color: tomato;
}
.section5{
    display: flex;
    margin-top: 150px;
    background-image: url(shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30%;
}
.img{
    margin-left: 120px;
    margin-right: 70px;
}
.benifits{
    margin-left: 10px;
    margin-right: 80px;
    margin-top: 30px;
    padding: 20px;
    text-align: justify;
}
.benifits h1{
    font-size: 40px;
}
.end{
    background-color: black;
    color: white;
    height: 120px;
    padding-top: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    margin-top: 160px;
}
.end h1,p{
    text-align: center;
}
.button4{
    text-decoration: none;
    background-color:rgb(105, 255, 118) ;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.button:hover{
    background-color: tomato;
}